.load-more-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px   ;
}


.product:hover{
    background-color: #141414;
    border-radius: 30px;
}

.product{
    padding: 20px;
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.product > img{
    width: 270px;
    height: 270px;
    
}

button:disabled:hover{
    color: #141414;
    
}