.tic-tac-toe-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    margin-top: 10px;
}

button{

    float: left;
    font-size: 40px;
    height: 100px;
    padding: 0px;
    text-align: center;
    width: 100px;

}



button:hover{
    background-color: #141414;
}


