


.modal{
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    overflow: auto;
    justify-content: center;
    background-blend-mode: color;
    
}

.modal-content{
    position: relative;
    background-color: #141414;
    margin: auto;
    padding: 0;
    border-radius: 15px;
    width: 80%;
    color: rgb(255, 255, 255);
}

.close-modal-icon
{
    cursor: pointer;
    text-align: right;
    padding: 3px;
    background-color: rgb(195, 195, 195);
    font-weight: bold;

}