


.modal{
    position: fixed;
    z-index: 1;
    padding-top: 150px;
    left: 0;
    top: 0;
    overflow: auto;
    justify-content: center;
    background-blend-mode: color;
    
}

.modal-content{
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid ;
    width: 80%;
    color: black;
}

.close-modal-icon
{
    cursor: pointer;
    text-align: right;
    padding: 3px;
    background-color: rgb(195, 195, 195);

}