.wrapper
{
    padding: 8px;
}


.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 12px;
    gap: 20px;
}

.tab-item{
    /* display: inline-flex; */
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    color: white;
    border: none;
    background-color: #141414;
}

.tab-item.active{
    border-color: black;
    background-color: #6d6d6e;
}

.content{
    padding: 20px 10px;
    height: 300px;
    overflow: auto;
    background-color: #141414;
}